body {
  background-color: rgb(255, 255, 255);
}
.section {
  background: rgb(228, 228, 228);
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  height: 500px;
}
header {
  text-align: center;
}
h1,
h2 {
  text-transform: uppercase;
  font-weight: 600;
}
#password {
  margin-left: 50%;
  margin-bottom: 50px;
  padding: 50px;
  width: 550px;
  height: 185px;
  text-align: center;
  border: dashed 5px rgb(109, 109, 109);
  border-radius: 5px;
  color: rgb(109, 109, 109);
}
button {
  margin-top: 20px;
  border: solid 1px;
  border-radius: 5px;
  background-color: gray;
}
#generate {
  background-color: rgb(255, 83, 83);
}
.settings {
  padding-top: 10px;
}
